spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: nosecurity
  datasource:
    url: ${DATABASE_URL}  # ← IMPORTANT : pas de value par défaut
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true